.app {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, [col-start] 1fr);
  padding: 8px;
}

.content {
  grid-column: col-start 5 / span 5
}

.info {
  grid-column: span 1;
}

.logo {
  max-width: 180px;
  align-content: center;
}
